@model IEnumerable<TimesheetManagementDAL.Models.AppUser>

@{
  var context = ViewBag.Context as TimesheetManagementDAL.Data.AppDbContext;
}

<head>
  <style>
    section {
      padding: 7px 15px 7px 15px;
    }
    a {
      color: white;
      text-decoration: none;
    }
  </style>
</head>

<section>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a asp-area="" asp-controller="ManageData" asp-action="ViewUsers" class="nav-link active" aria-current="page">Users</a>
  </li>
  <li class="nav-item">
    <a asp-area="" asp-controller="Locations" asp-action="Index" class="nav-link">Locations</a>
  </li>
  <li class="nav-item">
    <a asp-area="" asp-controller="Sectors" asp-action="Index" class="nav-link">Sectors</a>
  </li>
</ul>
</section>


<section>
  <button type="button" class="btn btn-dark">
    <a asp-area="Identity" asp-page="/Account/Register">Add New User</a>
  </button>
</section>

<section>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Firstname</th>
      <th scope="col">LastName</th>
      <th scope="col">Location</th>
      <th scope="col">Sector</th>
      <th scope="col">Manage</th>
    <tr>
  <thead>
  <tbody>
      @foreach(var user in Model)
      {
        <tr>
          <td>@Html.DisplayFor(modelItem => @user.FirstName)</td>
          <td>@Html.DisplayFor(modelItem => @user.LastName)</td>
          <td>@Html.DisplayFor(modelItem => @user.Location.Address)</td>
          @{var Sector = await context.Sectors.FindAsync(@user.Location.SectorId);}
          <td>@Html.DisplayFor(modelItem => Sector.Name)</td>

          <td>
            <form asp-controller="ManageData" asp-action="DeleteUser">
              <button type="submit" class="btn btn-danger" name="Id" value="@user.Id">Delete</button>
            </form>
          </td>
        </tr>
      }
  </tbody>
</table>
</section>

