@model IEnumerable<TimesheetManagementDAL.Models.Sector>

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a asp-area="" asp-controller="ManageData" asp-action="ViewUsers" class="nav-link">Users</a>
  </li>
  <li class="nav-item">
        <a asp-area="" asp-controller="Locations" asp-action="Index" class="nav-link">Locations</a>
  </li>
  <li class="nav-item">
        <a asp-area="" asp-controller="Sectors" asp-action="Index" class="nav-link active" aria-current="page">Sectors</a>
  </li>
</ul>
<section>
    <button type="button" class="btn btn-dark">
        <a asp-area="" asp-page="Sectors">Add New Sector</a>
    </button>
</section>

<section>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
